/*This container includes our table and our canvas.*/
.center-container {
    /*this sets the width of our container.*/
    width: 680px;

    /*This property centers our cointainer.*/
    margin: 0 auto;
    /*50px down from the top.*/
    margin-top: 50px;
}

table {
    /*This property collapses table border into one border.*/
    border-collapse: collapse;
    /*This hides outer borders on table.*/
    border-style: hidden; 

}
td{
    /*This property changes the cursor to the index finger and when we hover over td elements.*/
    cursor: pointer;
    /*This property sets our table border style.*/
    border: 4px solid  rgba (252,169,3,.8); 
    /*This property removes default padding*/
    padding: 0px;
    width: 200px;
    height: 200px;
    filter: contrast(3);
}

canvas {

    /*This property sets the position of our canvas to top left of cointainer.*/
    position: absolute;
    /*This property places our canvas over th top of our table.*/
    z-index: 10; 
    /*This property makes our canvas invisible*/
    pointer-events: none;

}

<link rel="stylesheet" href="assets/css/game-styles.css">



